.post-content h2 {
    font-weight: 800 !important;
    letter-spacing: -1px !Important;
    word-spacing: -1px !important;
}
post-content {
    letter-spacing: -1px !important;
    word-spacing: -1px !important;
}
.post-title {
    font-weight: 800 !important;
    letter-spacing: -1px !important;
    word-spacing: -1px !important;
}
.entry-header {
    font-weight: 700 !important;
    letter-spacing: -1px !important;
    word-spacing: -1px !important;
}
